html {
  overflow-x: hidden;
}

/* changes bootstraps col-md-3 width when the screen is greater than 992px */
@media (min-width: 992px) {
  .col-md-3 {
    width:24.5%;
  }
}

/* takes away ng-tags-input border when focused */
.tags.focused {
  border: none !important;
}