/* Christian's big ass screen */
@media only screen and (min-width: 1761px) {
  tags-input {
    width: 1000px;
  }

  #feed-container {
    position: relative;
    left: 50%;
    margin-left: -805px;
    margin-top: 100px;
    width: 1610px;
  }

  .home-container {
    position: relative;
    left: 50%;
    margin-left: -645px;
    width: 1290px;
  }

  .site, #navBar {
    position: absolute;
    width: 1680px;
    left: 50%;
    margin-left: -840px;
  }

  #navBar {
    position: fixed !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1760px) {
    tags-input {
    width: 800px;
  }

  #feed-container {
    position: relative;
    left: 50%;
    margin-left: -805px;
    width: 1610px;
  }

  .home-container {
    position: relative;
    left: 50%;
    margin-left: -645px;
    width: 1290px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1650px) {
    tags-input {
    width: 700px;
  }

  #feed-container {
    position: relative;
    left: 50%;
    margin-left: -645px;
    width: 1290px;
  }

  .home-container {
    position: relative;
    left: 50%;
    margin-left: -645px;
    width: 1290px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 1325px) {
  tags-input {
    width: 500px;
  }

  #feed-container {
    position: relative;
    left: 50%;
    margin-left: -485px;
    width: 970px;
  }

  .home-container {
    position: relative;
    left: 50%;
    margin-left: -325px;
    width: 650px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 1045px) {
  tags-input {
    width: 500px;
  }
  #feed-container {
    position: relative;
    left: 50%;
    margin-left: -325px;
    width: 650px;
  }

  .home-container {
    position: relative;
    left: 50%;
    margin-left: -325px;
    width: 650px;
  }

  .home-container div.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 700px) {
  tags-input {
    width: 500px;
  }

  #feed-container {
    position: relative;
    left: 50%;
    margin-left: -160px;
    width: 320px;
  }

  .home-container {
    position: relative;
    left: 50%;
    margin-left: -160px;
    width: 320px;
  }

  .home-container div.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

#feed-container {
  padding-top: 102px;
}
