<div class="cen-jus">
  <br>
  <h3>Create a New Event Virt</h3>

  <br>
  <form ng-submit="vm.createVirt()">
    <div class="row">
      <label for="inputName1" class="left-jus col-md-offset-3">Admission Type:</label>
      <div class="form-group col-md-6 col-md-offset-3">
        <input type="text" id="inputName" class="form-control" placeholder="$5 cover? $10? Free?" ng-model="vm.Virt.admission" required />
      </div>
    </div>
    <div class="row">
      <label for="inputName1" class="left-jus col-md-offset-3">Time:</label>
      <div class="form-group col-md-6 col-md-offset-3">
        <input type="text" id="inputTime" class="form-control" placeholder="6pm? 8-11pm?" ng-model="vm.Virt.time" required />
      </div>
    </div>
    <div class="row">
      <label for="inputName1" class="left-jus col-md-offset-3">Virt text (100 characters):</label>
      <div class="form-group col-md-6 col-md-offset-3">
        <input type="text" id="inputText" class="form-control" placeholder="Battle of the Bands? Metal? Indie? Electro?" ng-model="vm.Virt.virt" required />
      </div>
    </div>
    <button class="btn btn-success submit-login-button" type="submit">Create</button>
  </form>

</div>
