<div ng-controller="CarouselCtrl">
  <div>
    <div uib-carousel active="0" interval="2500" wrap=true>
    <!-- Slide 1 -->
      <div uib-slide index=0>
        <img src="../images/Lebron_Feed.png" height=650px style="margin:auto;">
        <div class="carousel-caption">
          <h3>SUPERFAN</h3>
          <p>the world's first celebrity engine...</p>
        </div>
      </div>
    <!-- Slide 2 -->
      <div uib-slide index=1>
        <img src="../images/Lebron_Feed.png" height=650px style="margin:auto;">
        <div class="carousel-caption">
          <h3>SUPERFANESS</h3>
          <p>the world's first blah blah blah...</p>
        </div>
      </div>
    <!-- Slide 3 -->
      <div uib-slide index=2>
        <img src="../images/Lebron_Feed.png" height=650px style="margin:auto;">
        <div class="carousel-caption">
          <h3>MOBILE, TABLETS, AND PHABLETS</h3>
          <p>Stay up to date on any device!</p>
        </div>
      </div>

    </div>
  </div>
</div>
  <br>
  <br>
  <div class="container">
    <div class="row">
          <div class="col-md-10">
              <tags-input ng-model="tags" class="form-text" replace-spaces-with-dashes='false' style="margin-bottom:10px;">
                <auto-complete source="loadTags()" max-results-to-show="100"></auto-complete>
              </tags-input>
          </div>
          <div class="col-md-2">
           <button type="submit" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
    </div>

    </div>
  <hr>
    <div class="row">
      <div class="col-md-3"><img class="celeb_image200" src="images/celeb_placeholder1.png"></div>
      <div class="col-md-3"><img class="celeb_image200" src="images/celeb_placeholder2.png"></div>
      <div class="col-md-3"><img class="celeb_image200" src="images/celeb_placeholder3.png"></div>
      <div class="col-md-3"><img class="celeb_image200" src="images/celeb_placeholder4.png"></div>
    </div>
  </div>

    <section id="mobile" class="download bg-primary text-center">
        <div class="container-fluid padding-zero">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Superfan will be on mobile devices soon!</h2>
                    <br>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
                        <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Features, Unlimited Fun</h2>
                        <p class="text-muted">Check out what you can do with this app theme!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img/mobile_2.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item">
               <i class="icon-screen-smartphone text-primary"></i>
                <h3>Device Mockups</h3>
                  <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item">
                <i class="icon-camera text-primary"></i>
                <h3>Flexible Use</h3>
                <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="feature-item">
                    <i class="icon-present text-primary"></i>
                    <h3>Free to Use</h3>
                    <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-item">
                    <i class="icon-lock-open text-primary"></i>
                    <h3>Open Source</h3>
                    <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                </div>
            </div>
          </div>
        </div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container-fluid padding-zero">
            <h2><i class="fa fa-heart"></i> us on social media!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="social-snapchat">
                    <a href="#"><i class="fa fa-snapchat"></i></a>
                </li>
            </ul>
            <br>
            <p>For all questions and inquiries, please contact <a href="mailto:Team@superfan.love">Team@superfan.love</a></p>

        </div>
    </section>


    <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; SUPERFAN 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
      $('.carousel').carousel({
          interval: 3000 //changes the speed
      })
    </script>
</div>
