<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="Absolute-Center Absolute-Center is-Responsive">
      <p><h5>Sign in using Instagram.  It's that easy.</h5></p>
      <button type="button" class="btn btn-primary btn-block" ng-click="authenticate('instagram')"><i class="fa fa-instagram fa-3x"></i>Instagram</button>
        <p><h5>Don't have an Instagram account?</h5><br>
        <h5>Sign up <a href="www.instagram.com">Here</a></h5>
        </p>
      </div>
    </div>
  </div>
</div>
