<div class="cen-jus">

  <div class="container">

      <div class="row">
        <div clas="col-md-12"><h3>Create a Profile for your Business</h3></div>
      </div>
      <form ng-submit="vm.createVenue()">
      <div class="row">
        <div class="form-group col-md-4">Business Name</div>
        <div class="form-group col-md-4">
          <input type="text" id="inputName" class="form-control" placeholder="Pete's Pizza?  Gnarly Grill?" ng-model="vm.venueData.name" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">Business Type</div>
        <div class="form-group col-md-4">
          <input type="text" id="inputBusinessType" class="form-control" placeholder="Bar? Grill? Club? Promoter?" ng-model="vm.venueData.streetAddress" required />
      </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">Address</div>
        <div class="form-group col-md-4">
          <input type="text" id="inputAddress" class="form-control" placeholder="Street" ng-model="vm.venueData.streetAddress" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">City</div>
        <div class="form-group col-md-4">
          <input type="text" id="inputCity" class="form-control" placeholder="City" ng-model="vm.venueData.city" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">State</div>
        <div class="form-group col-md-4">
          <input type="text" id="inputState" class="form-control" placeholder="State" ng-model="vm.venueData.state" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">Zip Code</div>
        <div class="form-group col-md-4">
          <input type="text" id="inputZip" class="form-control" placeholder="Zip Code" ng-model="vm.venueData.zipCode" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">Person to Contact</div>
        <div class="form-group col-md-4">
          <input type="text" id="inputContactPerson" class="form-control" placeholder="Rich the Owner?" ng-model="vm.venueData.personContact" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">E-mail</div>
        <div class="form-group col-md-4">
          <input type="text" id="inputEmail" class="form-control" placeholder="you@you.com" ng-model="vm.venueData.email" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">Password</div>
        <div class="form-group col-md-4">
          <input type="password" id="inputPassword" class="form-control" placeholder="ViRTis@wesome (or something secure)" ng-model="vm.venueData.password" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
        <button type="button" class="btn btn-primary btn-lg" ng-click="vm.createVenue()">Large button</button>
        </div>
      </div>
    </form>
  </div>

</div>
