<div class="container cen-jus" ng-show="vm.isLoggedIn()">
  <% if (user) { %>
      <h3>Welcome, {{vm.currentVenue.name}}</h3>
      <a href="/logout">Logout</a>
      <% } else { %>
    <a href="/auth/facebook">Login</a>
    <% } %>

<!-- Generate Event Virt section -->
  <div class="section">
    <div class="row">
      <div>
        <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Time
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="TimeMenu">
    <li value="12pm"></li>
    <li value="1pm"></li>
    <li value="2pm"></li>
    <li value="3pm"></li>
    <li value="4pm"></li>
    <li value="5pm"></li>
    <li value="6pm"></li>
    <li value="7pm"></li>
    <li value="8pm"></li>
    <li value="9pm"></li>
    <li value="10pm"></li>
    <li value="11pm"></li>
    <li value="12am"></li>
  </ul>
</div>
      </div>
      <div class="input-group-addon">$</div>
      <div><input type="text" class="form-control" id="exampleInputAmount" placeholder="5? 10? 0?">
      <input type="text" maxlength="100" class="form-control" placeholder="Ex: Blues.  2 bands. $3 draft all night. (100 char. max)"></div>
    </div>
  </div>

  <!-- Past Event Virst section -->
  <div class="section">
    <table id="virt_log" class="table table-striped">
      <thead>
        <tr>
          <th><h3 class="jumbotron text-center">Your Virts</h3></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="home in vm.local_virts">
          <td>{{virt.venue}}</td>
          <td>{{virt.admission}}</td>
          <td>{{virt.text}}</td>
          <td>{{virt.location}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
