<section>
  <!-- <div class="container-fluid" style="width:100%;"> -->
  <div id="feed-container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div masonry='{"itemSelector" : ".tile"}'>
          <!-- items -->
          <div masonry-tile class="tile hover" ng-repeat="brick in feed | limitTo:brickLimit" style="width:322px;">
            <div>
              <img class="d-inline-block ig-bg" ng-if="brick.likes" ng-src="{{ brick.image }}" alt="A masonry brick">
              <div ng-if="brick.likes" class="overlay" style="margin-top:-321px;margin-left:1px;">
                <h6>{{ brick.username }}</h6>
              </div>
            </div>
            <div class="d-inline-block twt-bg text-center" ng-if="brick.favorites" style="width:320px;height:100%;">
              <div class="tweet">
                <h3>{{ brick.username }}</h3>
                <p>{{ brick.text }}</p>
              </div>
              <div class="overlay" style="position:absolute;height:100%;width:100%;margin-top:0px;top:0px;left:0px;">
                <h6>{{ brick.username }}</h6>
              </div>
            </div>
            <div class="d-inline-block" ng-if="brick.feedImg" style="width:320px;height:180px;">
              <img class="d-inline-block" ng-src="{{ brick.feedImg }}" alt="A masonry brick">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!--
  <div id="content"></div>

  <script type="text/javascript">
    var content = document.getElementById('content');
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function(){
      if (xhr.readyState==4 && xhr.status==200) {
        var data = JSON.parse(xhr.responseText);
        if (data.status == 'ok') {
          var output = "";
          for (var i = 0; i < data.items.length; ++i) {
            output += '<div class="col-md-3"><h4><a href="' +
              data.items[i].link + '" >' +
              data.items[i].title + '</h4></div>';
          }

          content.innerHTML = output;
        }
      }
    };

    xhr.open('GET','https://rss2json.com/api.json?rss_url=http%3A%2F%2Fwww.tmz.com%2Frss.xml',true);
    xhr.send();
  </script>
-->

<!-- Masonry docs: https://github.com/desandro/masonry -->


