<section>
  <hr>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="form-group">
            <label for="exampleSelect1">Filter Content By</label>
              <select class="form-control" id="exampleSelect1">
                <option>All</option>
                <option>Most Recent</option>
                <option>Trending</option>
              </select>
          </div>

  <div class="container-fluid">
    <div masonry>
      <div class="masonry-brick" ng-repeat="brick in feed">
        <img class="ig-bg" ng-if="brick.likes" ng-src="{{ brick.image }}" alt="A masonry brick">
        <div class="twt-bg" ng-if="brick.favorites" style="width:318px;height:100%;" alt="A masonry brick">
          <h3>{{ brick.username }}</h3>
          <p>{{ brick.text }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
  <div class="container-fluid">
    <div class="row justify-content-center">
      <img class="col-sm-2 img-fluid" ng-repeat="post in trending" src="{{post.image}}">
    </div>
    <div class="row justify-content-center">
      <img class="col-md-2 img-fluid" ng-repeat="post in trending" src="{{post.image}}">
    </div>
  </div>
-->

<!--
tweet.handle
gram.username
-->

<!--
  <div id="content"></div>

  <script type="text/javascript">
    var content = document.getElementById('content');
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function(){
      if (xhr.readyState==4 && xhr.status==200) {
        var data = JSON.parse(xhr.responseText);
        if (data.status == 'ok') {
          var output = "";
          for (var i = 0; i < data.items.length; ++i) {
            output += '<div class="col-md-3"><h4><a href="' +
              data.items[i].link + '" >' +
              data.items[i].title + '</h4></div>';
          }

          content.innerHTML = output;
        }
      }
    };

    xhr.open('GET','https://rss2json.com/api.json?rss_url=http%3A%2F%2Fwww.tmz.com%2Frss.xml',true);
    xhr.send();
  </script>
-->

<!-- Masonry docs: https://github.com/desandro/masonry -->


