<div class="jumbotron" id="linearBg2">
  <div class="w3ls-text text-center" style="padding:15px;">
    <h2><span style="display:block;">SUPER</span><span style="display:block;">FAN</span></h2>
  </div>
  <br>
      <p><h3 class="text-center text-white">The Next Step in Social Media</h3></p>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="input-group">
      <tags-input type="text" ng-model="tags" class="form-control" replace-spaces-with-dashes='false' on-tag-added="feedService.addFeed($tag.system);" on-tag-removed="feedService.removeFeed($tag.system)" style="border:none;">
        <auto-complete source="loadNavTags($query)" min-length="0" max-results-to-show="100"></auto-complete>
      </tags-input>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="loadFeed()">Search!</button>
      </span>
    </div>
  </div>
</div>
  <div class="home-container">
    <div class="row cien">
      <h3><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Trending</h3>
    </div>
    <div class="row">
      <div ng-repeat="post in trending" class="hover">
        <img class="d-inline-block ig-bg" src="{{post.image}}">
        <div class="overlay gradient">
          <h5>{{ post.username }}</h5>
          <h6>{{ post.caption }}</h6>
          <div style="position:absolute;padding:2.5px;bottom:0px;left:0px;width:320px;">
            <h6 style="float:left;"><i class="fa fa-comments" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.comments}}</h6>
            <h6 style="float:left;"><i class="fa fa-heart" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.likes }}</h6>
            <i style="float:right;margin-right:6px;" class="fa fa-instagram"></i>
          </div>
          <a ng-click="loadFeed(post.systemname)" style="position:absolute;display:block;top:0px;left:0px;height:100%;width:100%;z-index:15;"></a>
        </div>
      </div>
    </div>
    </br>
    </br>
    <div class="row cien">
      <h3><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Most Recent</h3>
    </div>
    <div class="row">
      <div ng-repeat="post in mostRecent" class="hover">
        <img class="d-inline-block ig-bg" src="{{post.image}}">
        <div class="overlay gradient">
          <h5>{{ post.username }}</h5>
          <h6>{{ post.caption }}</h6>
          <div style="position:absolute;padding:2.5px;bottom:0px;left:0px;width:320px;">
            <h6 style="float:left;"><i class="fa fa-comments" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.comments}}</h6>
            <h6 style="float:left;"><i class="fa fa-heart" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.likes }}</h6>
            <i style="float:right;margin-right:6px;" class="fa fa-instagram"></i>
          </div>
          <a ng-click="loadFeed(post.systemname)" style="position:absolute;display:block;top:0px;left:0px;height:100%;width:100%;z-index:15;"></a>
        </div>
      </div>
    </div>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
    <section id="mobile" class="download text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-heading">Coming to mobile devices soon!</h2>
            <br>
            <div class="badges">
              <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
              <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="sources" class="sources">
    </br>
    </br>
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- <div class="section-heading"> -->
          <h2 class="display-3">We connect all of your favorite sources</h2>
        <!-- </div> -->
      </div>
    </div>
    </br>
    </br>
  <div class="home-container">
    <div class="row">
      <div class="col">
      <h3><i class="fa fa-twitter"></i></h3>
      </div>
      <div class="col text-right">
      <span style="padding-right:20px;"><a ng-click="loadFeed(post.systemname)">See More ></a></span>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="post in twitterHome" class="d-inline-block hover" style="height:322px;">
        <div class="d-inline-block twt-bg text-center" style="height:320px;width:320px;">
          <div class="tweet">
            <h5>{{ post.username }}</h5>
            <p ng-bind-html="post.text | twitterUrl:post | trustHtml"></p>
          </div>
        </div>
        <div ng-hide="post.entities.basic.urls.length > 0" class="overlay text-center gradient" style="height:320px;width:320px;">
          <div style="position:absolute;padding:2.5px;bottom:0px;left:0px;width:320px;">
            <div style="position:absolute;left:0px;bottom:7.5px;">
              <h6 style="display:inline;"><i class="fa fa-retweet" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.retweets }}</h6>
              <h6 style="display:inline;"><i class="fa fa-heart" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.favorites }}</h6>
            </div>
            <div style="position:absolute;width:25px;right:0px;bottom:11px;">
              <i style="float:right;margin-right:6px;" class="fa fa-twitter twitter-bird"></i>
            </div>
          </div>
          <a ng-click="loadFeed(post.systemname)" style="position:absolute;display:block;top:0px;left:0px;height:100%;width:100%;z-index:15;"></a>
        </div>
      </div>
    </div>
    <div class="row cien">
      <h3><i class="fa fa-instagram"></i></h3>
    </div>
    <div class="row">
      <div ng-repeat="post in instagramHome" class="hover">
        <img class="d-inline-block ig-bg" src="{{post.image}}">
        <div class="overlay gradient">
          <h5>{{ post.username }}</h5>
          <h6>{{ post.caption }}</h6>
          <div style="position:absolute;padding:2.5px;bottom:0px;left:0px;width:320px;">
            <h6 style="float:left;"><i class="fa fa-comments" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.comments}}</h6>
            <h6 style="float:left;"><i class="fa fa-heart" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.likes }}</h6>
            <i style="float:right;margin-right:6px;" class="fa fa-instagram"></i>
          </div>
          <a ng-click="loadFeed(post.systemname)" style="position:absolute;display:block;top:0px;left:0px;height:100%;width:100%;z-index:15;"></a>
        </div>
      </div>
    </div>
    <div class="row cien">
      <h3><i class="fa fa-youtube"></i></h3>
    </div>
    <div class="row">
      <div ng-repeat="post in youtubeHome" class="hover">
        <img class="d-inline-block hover yt-bg" src="{{ post.feedImg }}">
        <div class="overlay gradient" style="height:180px;margin-top:-180px;">
          <h5>{{ post.username }}</h5>
          <div style="position:absolute;padding:2.5px;bottom:0px;left:0px;width:320px;">
            <div style="float:left;padding-bottom:5px;">
              <h6 style="display:inline;"><i class="fa fa-thumbs-up" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.stats.likes }}</h6>
              <h6 style="display:inline;"><i class="fa fa-thumbs-down" aria-hidden="true" style="margin-left:6px;margin-right:3px;"></i>{{ post.stats.dislikes }}</h6>
            </div>
            <div style="float:right;">
              <i style="float:right;margin-right:6px;" class="fa fa-youtube"></i>
            </div>
          </div>
          <a ng-click="loadFeed(post.systemname)" style="position:absolute;display:block;top:0px;left:0px;height:100%;width:100%;z-index:15;"></a>
        </div>
      </div>
    </div>
  </div>
  </section>
      <section id="contact" class="contact bg-contact">
      <div class="container">
        <h2><i class="fa fa-heart"></i> us on social media!</h2>
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/thesuperfanapp" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/superfanapp/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/superfanapp/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
          </li>
          <!-- <li>
            <a href="#"><i class="fa fa-snapchat"></i></a>
          </li> -->
          <li>
            <a href="mailto:team@superfan.love" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
          </li>
        </ul>
        </br>
        </br>
        </br>
        <p>For all questions and inquiries, please contact <a href="mailto:Team@superfan.love" style="color:#FFFFFF;"><strong>Team@superfan.love</strong></a></p>
      </div>
    </section>
    <!-- Footer -->
    <footer>
      <div class="row justify-content-center">
          <p>Copyright &copy; SUPERFAN 2017.  All rights reserved.</p>
        </div>
      </div>
    </footer>
</div>
<script>
  $('.carousel').carousel({
    interval: 4000
  })
</script>
